.custom-text-shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.custom-header-bg {
    height: 500px;
}

@media (max-width: 1250px) {
    .custom-header-bg {
        height: 320px;
    }
}

.custom-carousel {
    height: 700px;
}

.corporate-container {
    background-image: url('/assets/img/corporate.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.blurred-navbar {
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(13.2px);
}

.mission-bg {
    background-image: url('/assets/img/mission-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.mission-bg .blur {
    background: rgba(0, 0, 0, 0.39);
    border: 1px solid rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(16.2px);
    box-sizing: border-box;
}

.vision-bg {
    background-image: url('/assets/img/vision-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.vision-bg .blur {
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(16.2px);
}

.job-custom {
    background: linear-gradient(180deg, #9AAAB8 50%, #E5EEFE 100%);
}

.job-custom:hover {
    background: linear-gradient(180deg, #C70101 0%, #C60101 100%);
}

.view-job-arrow {
    background: linear-gradient(180deg, #A20A0A 25%, #C70101 100%);
}

.get-in-touch-container {
    background-image: url('/assets/img/fiber.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.custom-border-modal {
    background: linear-gradient(180deg, #BE8624 0%, #FFA200 43.5%, #856020 100%);
}